//nullStyle
body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
}
p {
	margin: 0;
}
a:active,a:visited{text-decoration: none; color:inherit;}
a:hover{text-decoration:none;}
a {text-decoration: none; color: inherit;}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(0, 0%, 8%);
}


.card {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 0 1 384px;
	margin: 0 20px;
	height: 603px;
	background-color: hsl(0, 0%, 12%);
	font-family: "Inter", system-ui;
	color: #ffff;
	border-radius: 10px;
	&__avatar {
		margin: 24px 24px 27px 24px;
		width: 88px;
		height: 88px;
		border-radius: 50%;
		max-width: 100%;
	}

	&__links {
		margin: 0 24px;
		width: 79%;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 45px;
				margin-bottom: 16px;
				font-weight: 600;
				font-size: 14px;
				background-color: hsl(0, 0%, 20%);
				border-radius: 10px;
			}
			a:hover {
				background-color: hsl(75, 94%, 57%);
				color: hsl(0, 0%, 12%);;
			}
		}
	}
	
.information {
	text-align: center;

	&__name {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 0px;
		margin-bottom: 8px;
	}

	&__lives {
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0;
		margin-bottom: 28px;
		color: hsl(75, 94%, 57%);
	}

	&__profession {
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 27px;
	}
}
